body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.grid-container {
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
}

.grid-item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

#player {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.hidden {
    display: none;
}